/*****************************
10 - Base - Default
*****************************/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::
====================Default CSS=======================
::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background: #e6aa21;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;
    color: #172541;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
  }

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.table {
    margin-bottom: 0;
}

.img-fix img {
    width: 100%;
    object-fit: cover;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.position__sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.rating li {
    display: inline-block;
    font-size: 14px;
    color: #e1e1e1;
}

.rating li.rating-on {
    color: #e6aa21;
}

.no-gutters{
    margin-right: 0;
    margin-left: 0;
}


/*************************
 Bootstrap Custom Container
************************/
.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px){
  .container, 
  .container-sm {
    max-width: 540px;
}
}

@media (min-width: 768px){
  .container, 
  .container-md, 
  .container-sm {
    max-width: 720px;
}
}

@media (min-width: 992px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm {
    max-width: 960px;
}
}

@media (min-width: 1200px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl, 
  .container-xxl {
    max-width: 1140px;
  }
}


.row {
  --bs-gutter-x: 30px;
}