/*****************************
38 - Pages - About
*****************************/
.about-image img{
    height: 455px;
}

.about-content .title {
    font-size: 40px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.about-items .title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}

.about-item{
    margin-top: 73px;
}