/*****************************
34 - Pages - Home - 1
*****************************/
#podlist-slider-section {
    padding-top: 69px;
    margin-bottom: 20px;
}

#product-catagory-section {
    padding-top: 103px;
    margin-bottom: 60px;
}

#testimonial-section{
    padding-top: 93px; 
    padding-bottom: 100px;
}

#company-logo-section {
    padding-top: 38px;
    padding-bottom: 38px;
}
